.recipe {
  padding: 20px 0;
  margin: 20px;
  width: 400px;
  background: whitesmoke;
  box-shadow: 8px 5px 5px 2px #9e9c9c26;
  letter-spacing: 1px;
  border: 1px solid #80808024;
}

.recipe:hover{
  transform: scale(1.03);
  transition: transform 200ms ease-in-out;
}

.recipe_title {
  text-align: center;
  font-size: 1.5rem;
  color: #565656;
}

.recipe h2 {
  margin: 0;
  padding: 10px 20px 0px 20px;
  color: #565656;
  font-size: 1.3rem;
}

.image_div {
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.image {
  display: block;
  width: 100%;
  margin: -30% 0;
}

.calories {
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.ingredients {
  list-style-type: none;
  padding: 10px 20px;
  font-family: 'Comfortaa', cursive;
}

.ingredient {
  padding: 5px 0;
  line-height: 1.4rem;
}

.ingredient i {
  color:royalblue;
}
